[Unit]
Description=Arduino Hardware Monitor
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 /home/YOUR_USER/arduinoHwInfo/ArduinoHwInfo/arduino_hw_info.py
WorkingDirectory=/home/YOUR_USER/arduinoHwInfo/ArduinoHwInfo

[Install]
WantedBy=graphical-session.target
