[Desktop Entry]
Name=Arduino Hardware Monitor
Comment=Hardware Monitor for Arduino
Exec=/usr/bin/python3 /home/YOUR_USER/arduinoHwInfo/arduino_hw_info.py
Icon=computer
Terminal=false
Type=Application
Categories=Application;
Hidden=false
X-GNOME-Autostart-enabled=true
